$max-width-tablet: 768px;
$min-width-tablet: 500.3px;
$max-width-mobile: 499.8px;

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.lineHeight {
    line-height: 1.7;
}

.bgImage {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.navbar-menu a.navbar-item,
#navbarfooter {
    background: transparent;
}

//margins

.m {
    &-bottom {
        margin-bottom: 20px;
    }
    &-top {
        margin-top: 20px;
    }
    &-left {
        margin-left: 20px;
        &-auto {
            margin-left: auto;
        }
    }
    &-right {
        margin-right: 20px;
        &-auto {
            margin-right: auto;
        }
    }
}

//paddings

.p {
    &-left {
        padding-left: 30px;
    }
    &-right {
        padding-right: 30px;
    }
    &-bottom {
        padding-bottom: 20px;
    }
    &-top {
        padding-top: 20px;
    }
}

//dinamic weather data
.phoneData {
    position: relative;
    min-width: 272px;
    min-height: 312px;
    
}
%weather {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

%hum-wind-img {
    position: absolute;
    left: -50%;
    top: 15%;
}

.weather {
    &-errInfo {
        @extend %weather;
        width: 35%;
        top: 32%;
        left: 52%;
        font-size: 1.2vw;
    }
    &-city {
        @extend %weather;
        top: 12%;
        font-size: 1.2vw;
    }
    &-country {
        @extend %weather;
        top: 17%;
        font-size: 0.8vw;
    }
    &-theSky {
        @extend %weather;
        top: 25%;
        font-size: 2vw;
    }
    &-skyLogo {
        @extend %weather;
        top: 50%;
        transform: translate(-50% ,-50%);
    }
    &-degrees {
        position: absolute;
        bottom: 20%;
        left: 31%;
        font-size: 2vw;
    }
    &-humidity {
        position: absolute;
        bottom: 22%;
        left: 47%;
        font-size: 0.75vw;
        img {
            @extend %hum-wind-img;
        }

    }
    &-windSpeed {
        position: absolute;
        bottom: 22%;
        left: 60%;
        font-size: 0.75vw;
        img {
            @extend %hum-wind-img;
        }
    }
}

//arrows control
%controls {
    position: absolute;
    border: solid gray;
    border-width: 0 3px 3px 0;
    border-radius: 10px;
    padding: 15px;
    transition: 0.2s;
    cursor: pointer;
    z-index: 1;
}

.pagination {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;

    .prev {
        @extend %controls;
        left: 1%;
        transform: rotate(135deg);
       
        &:hover {
            border: solid $blue;
            border-width: 0 3px 3px 0;
        }

        &:active {
            transform: scale(1.4) rotate(135deg);
        }
    }
    .next {
        @extend %controls;
        right: 0;
        transform: rotate(-45deg);

        &:hover {
            border: solid $blue;
            border-width: 0 3px 3px 0;
        }

        &:active {
            transform: scale(1.4) rotate(-45deg);
        }
    }
}

//Carousel image style
.image{
    &-left {
        position: absolute;
        z-index: 10;
        
        left: 0;
        transition: 0.3s;
        transform: scale(0.9);
        
    }

    &-center {
        position: absolute;
        z-index: 1000;
        left: 30%;
        transition: 0.3s;
        height: 100%;
        width: 100%;
    }

    &-right {
        position: absolute;
        left: 60%;
        transition: 0.3s;
        transform: scale(0.9);
        z-index: 1;
    }

    &-slider {
        img {
        height: auto;
        max-width: 40%;
        width: 100%;
    
        -webkit-box-shadow: 0px 15px 20px 1px rgba(140,140,140,0.4);
        -moz-box-shadow: 0px 15px 20px 1px rgba(140,140,140,0.4);
        box-shadow: 0px 15px 20px 1px rgba(140,140,140,0.4);
        }
    } 

}

.row-revers {
    flex-direction: row-reverse;
}

//footer area
.foo {
    &-download-bg {
        position: relative;
        margin-top: 50px;

        .hero-body {
            padding-left: 0;
        }

        a {
            margin: 5px;
        }
    }

    &-phones {
        position: absolute;
        transform: scale(0.75);
        bottom: 0;
        right: 10%;
        transform-origin:bottom right;
    }

    &-bg {
        background-color: #353854;

        .navbar .navbar-brand a span:nth-child(2) {
            margin-left: 5px;
        }
    }

    &-line {
        position: absolute;
        width: 120%;
        left: -10%;
        bottom: 0;
        height: 1px;
        background-color: $footer;
    }

    &-rights {
        color: $footer;
    }

    &-to-top {
        width: 50px;
        height: 40px;
        margin-right: 60px;

        &:hover .arrow-to-top {
            transform: rotate(225deg);
        }
    }
}

//scroll to up and down
.scroll-down {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &:hover .arrow-to-down {
        transform: rotate(405deg);
    }

}

%arrow {
    position: absolute;
    padding: 5px;
    transition: 0.4s;
    border-radius: 5px;
}

.arrow{
    &-to-top {
        @extend %arrow;
        top: 60%;
        left: 37%;
        transform: rotate(-135deg);
        border: solid gray;
        border-width: 0 3px 3px 0;
    }
    &-to-down {
        @extend %arrow;
        top: 45%;
        left: 37%;
        transform: rotate(45deg);
        border: solid $orange;
        border-width: 0 3px 3px 0;
    }
}


//Media
@media screen and (max-width: $max-width-tablet) and (min-width: $min-width-tablet) {
    .phoneData {
        position: relative;
        max-width: 400px;
        max-height: 460px;
        margin-left: auto;
        margin-right: auto; 
    }

    .weather-degrees {
        bottom: 21%;
    }

}

@media screen and (max-width: $max-width-mobile) {
    .phoneData {
        position: relative;
        max-width: 400px;
        max-height: 460px;
        margin-left: auto;
        margin-right: auto; 
    }
    
    .weather {
        &-errInfo {
            top: 46%;
            transform: translate(-50%, -50%);
            font-size: 0.6vw;
        }
        &-country {
            top: 18%;
        }
        &-humidity {
            font-size: 0.55rem !important;
            bottom: 22.2%;
        }
        &-windSpeed {
            font-size: 0.55rem !important;
            bottom: 22.2%;
        }
        &-degrees {
            bottom: 21%;
        }
    }
}
